<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IdentityClientId" value="d41b13e6-653e-4a5b-a1c0-c37c65df53cb" />
    <add key="TenantId" value="9ab5ad29-52f2-4f88-8bd7-26490b227f3c" />
    <add key="ResourceId" value="api://2d8468b7-1166-4ad6-82cd-8efb584e7cba" />
    <add key="WebApiScope" value="Orders.Read.All" />
  </appSettings>
</configuration>
